<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.199.230:3306/weibo</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">false</property>
        <mapping resource="com/chendezhi/baidu/tieba/capture/hibernate/BaiduTiebaContentTask.hbm.xml" />
        <mapping resource="com/chendezhi/baidu/tieba/capture/hibernate/UserSina.hbm.xml" />
        <mapping resource="com/chendezhi/baidu/tieba/capture/hibernate/BaiduTiebaContent.hbm.xml" />
        <mapping resource="com/chendezhi/baidu/tieba/capture/hibernate/UserToken.hbm.xml" />
        <mapping resource="com/chendezhi/baidu/tieba/capture/hibernate/BaiduTiebaTitle.hbm.xml" />
    </session-factory>
</hibernate-configuration>
